<!DOCTYPE html>
<html lang="en">
	<head>
   		<title>My Form</title>
   		
   </head>
   <body>
   	<h2>Form</h2>
   		<form action="/result" method= "POST">
      <p>Name <input type="text" name="username"></p>
      <p>Email <input type="text" name="email"></p>
      <p>Location <select name = "location">
        <option value = "Dallas">Dallas</option>
        <option value = "Seattle">Seattle</option>
        <option value = "New York">New York</option>
      </select></p>
      <input type="Submit" name="Submit">
    </form>

   </body>
</html>
