<!DOCTYPE html>
<html>
<head>
	<title>Login & Reg | Success</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'new_proj_app/css/style2.css' %}"> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<div id="wrap">
		<div id="greeting">
			<h2>Welcome, {{user.first_name}} {{user.last_name}}!</h2>
		</div>
		<div class="myQuote">
			{% for quote in all_quotes %}
				{% if user.id == quote.creator.id %}
					<p>{{quote.author}}: {{quote.quote}}</p>
				{% endif %}
			{% endfor %}


		</div>






	</div>
</body>
</html>