<!DOCTYPE html>
<html>
<head>
	<title>Fast & Furious</title>
	<style>
		#firstDiv {
			display: inline-block;
			width: 520px;
			height: 420px;
			background-color: cyan;
			position: relative;
		    top: 150px;
		    left: 225px;
		}
	</style>
</head>
<body>
	<div id="firstDiv">
		<p>
			he knocks on the door. his girl freind answers and steps to the side. his best freind is there
		</p>
		<h3>
			enter or leave?
		</h3>
		<a href="enter">enters</a>
		<a href="leaves">leaves</a>
	</div>
</body>
</html>