<!DOCTYPE html>
<html>
<head>
	<title>Fast & Furious</title>
	<style>
		#firstDiv {
			display: inline-block;
			width: 520px;
			height: 420px;
			background-color: cyan;
			position: relative;
		    top: 150px;
		    left: 225px;
		}
	</style>
</head>
<body>
	<div id="firstDiv">
		<p>
			He crawls in a maserati hot wiring it and burning tires. time to make yet another crutial desicision....
		</p>
		<h3>
			next locations?
		</h3>
		<a href="bestfriend">best friend</a>
		<a href="girlfriends">girlfriends house</a>
	</div>
</body>
</html>