<!DOCTYPE html>
<html>
<head>
	<title>Books and Authors</title>
	{% load static %}
    <link rel="stylesheet" href="{% static 'books_authors_app/css/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<div id="box1">
		<h1>Add a Book</h1>
		<form action="/add_book" method= "POST">
		{% csrf_token %}
		<label>Title:</label>
		<input type="text" name= "title" class="form-control" placeholder="Title">
		<label>Description:</label>
		<textarea type= "text" name= "description" class="form-control" rows="3" placeholder="Text Here"></textarea>
		<input type="submit" name="submit" value="Add">
		</form>
	</div>
	<div id="box2">
		<h1>All Books</h1>
		<table>			
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Action</th>
			</tr>
			{% for book in all_books %}
			<tr>				
				<td>{{ book.id }}</td>
				<td>{{ book.title }}</td>
				<td>
				<form action="/view_book/{{book.id}}" method="POST">
					{% csrf_token %}
					<input type="submit" name="submit" value="View">
				</form>
				</td>
			</tr>
			{% endfor %}
		</table>
		
	</div>
</body>
</html>